.article {
    height: 730px;
    width: 380px;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
}

.img {
    object-fit: cover;
}
.titleCard {
    font-weight: 400;
    font-size: 18px;
}
.contentCard {
    margin: 30px 20px;
}

.recipe {
    margin: 30px 0;
}

.titleContent {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 12px;
    color: #7a7a7a;
    letter-spacing: 1px;
}

.contentRecipe {
    font-size: 14px;
    font-weight: 400;
    overflow: hidden;
    height: 75px;
}

.ingredientsContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ingredientContent {
    width: 50%;
    margin-bottom: 30px;
}

.ingredient {
    font-size: 14px;
}

.quantity {
    font-size: 14px;
}
