.container {
    display: flex;
    gap: 10px;
    margin: 60px 80px;
}

.containerImage {
    border-radius: 20px;
    overflow: hidden;
}

.containerRecipe {
}

.header {
    margin-bottom: 20px;
}

.title {
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 40px;
}

.h3 {
    font-weight: 700;
    letter-spacing: 1px;
    color: #7a7a7a;
    font-size: 16px;
    margin-bottom: 10px;
}

.time {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 30px;
    background-color: #ffd15b;
    border-radius: 15px;
}

.listeIngredient {
    height: 150px;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    gap: 20px;
}

.ingredient {
    width: 150px;
    height: 40px;
}

.ustensilElement {
    display: flex;
    justify-content: space-between;
}

.containerUstensils {
    margin-bottom: 20px;
}

.containerAppliance {
    margin-bottom: 20px;
}
