.title {
    color: #ffd15b;
    font-size: 44px;
    text-align: center;
    line-height: 1.5em;
}

.inputRecipe {
    height: 72px;
    width: 954px;
    background-color: white;
    border-radius: 10px;
    padding-left: 30px;
}

.form {
    position: relative;
    margin-top: 30px;
}

.button {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    border-radius: 10px;
    background-color: black;
    border: none;
    box-shadow: none;
    outline: none;
}

.glass {
    color: white;
    height: 25px;
    width: 25px;
}
