.container {
    width: 195px;
    height: 56px;
    background-color: white;
    border-radius: 10px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    height: 100%;
    width: 100%;
}
.title {
    color: black;
}

.chevron {
    height: 15px;
    width: 15px;
    color: black;
}
